/*
* @Author: Aliennnnnn
* @Date:   2017-05-06 21:25:34
* @Last Modified by:   Aliennnnnn
* @Last Modified time: 2017-09-08 21:20:44
*/
/*public style*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
p,
blockquote,
th,
td
{
    margin: 0;
    padding: 0;
}
header,
footer,
article,
aside,
section,
nav,
menu,
hgroup,
details,
dialog,
figure,
figcaption
{
    display: block;
}
ol,
li,
ul,
dl,
dt,
dd
{
    list-style: none;
}
a{
    text-decoration: none;
}
fieldset,
img
{
    border: 0;
}
button,
submit,
input,
select
{
    vertical-align: middle;
}
button,
submit
{
    cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6
{
    font-size: inherit;
    font-weight: lighter;
}
table
{
    border-spacing: 0;
    border-collapse: collapse;
}
sup
{
    vertical-align: text-top;
}
sub
{
    vertical-align: text-bottom;
}
select,
button
{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;

    margin: 0;
    padding: 0;

    outline-width: 0;
    outline-style: none;
}
b,
em,
i
{
    font-weight: normal;
    font-style: normal;

    display: inline-block;
}
.clearfix:after
{
    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: '.';
} .clearfix
{
    zoom: 1;
}
.container
{
    position: relative;

    width: 1200px;
    margin: 0 auto;
}
.fl
{
    float: left;
}
.fr
{
    float: right;
}

html
{
    height: 100%;
}
body
{
    height: 100%;
    color: #fff;
    font-family: Microsoft Yahei;
}
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
   font-size: 95px;
}
.clearboth{
    clear: both;
}
#cv
{
    width: 100%;
    height: 100%;
}
.section
{
    width: 100%;
    height: 100%;
}
.section > div > div
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.hello
{
    font-size: 100px;
    margin-top: -50px;
    margin-left: -150px;
}
.about img{
    width: 145px;
    height: 145px;
    border-radius: 100px;
    border:10px solid #aee2d9;
    box-shadow: 0px 0px 5px; 
    transition: .5s ease;
    display: none;
    margin-left: 140px;
}
.about img:hover{
    border-color: #d6f285;
}
h1
{
    font-size: 50px;
    font-weight: bold;
    text-shadow: 1px 2px #22c3aa, 2px 4px #aee2d9;
}
.about .name{
    display: none;
}
.about .cet{
    font-size: 30px;
}
.about
.school
{
    font-size: 25px;
    margin-top: 10px;
    display: none;
}
.about .subtitle,
.email
{
    font-size: 30px;
    color: #333;
    display: none;
}
.about .email a
{
    transition: .5s ease;
    text-decoration: none;
    color: #008a75;
}
.about .email a:hover
{
    color: #efef0e;
}
.skills h1{
    margin-bottom: 20px;
}
.skills .skill{
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 80px;
    background-color: #4f4454;/*#2d2b2d;*/
    text-align: center;
    line-height: 90px;
    visibility: hidden;
    transition:  .6s ease;
}
.skills .skill:hover{
    width: 95px;
    height: 95px;
    border: 5px solid #8e8080;
}
.skills .familiar{
    background-color: #575259;
}
/*.row-1,.row-2{
    clear: both;
}
.row-1,.row-2,.row-3,.row-4{
    margin: 10px 8px 0 0;
}
.row{
    width: 1200px;
    height: 150px;
    margin: 0 auto;
    font-weight: 400;
    margin-top: 70px;
}
.row .part-1,.part-2{
    width: 600px;
    float: left;
}*/
.project-wrapper{

}
.project-wrapper h1{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%,0);
}
.projects{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.project{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    margin-right: 10px;
    margin-bottom: 60px;
}
.pro-icon a{
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: #008a75;
    color:#f1f1f1;
    transition: .5s ease;
}
.pro-icon a:hover{
    opacity: 0.6;
}
.pro-icon svg{
    margin: 10px 0 0 10px;
}
.pro-intro{
    margin-left: 20px;
}
.pro-intro a{
    display: inline-block;   
    height: 50px;
    font-size: 30px;
    color: #008a75;
    transition: .5s ease;
}
.pro-intro a:hover{
    color:#efef0e;
}
.pro-intro p{
    font-size: 18px;
}

.more{
    color: #fff;
    font-size: 25px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,0);
}
.more a{
    color:#efef0e;
    transition: .5s ease;
}
.more a:hover{
    color: #008a75;
}
.contact h1{
    margin-bottom: 50px;
}
.contact p{
    font-size: 30px;
    margin-top: 20px;
}
.contact p a{
    text-decoration: underline;
    color: #fff;
    transition: .5s ease;
}
.contact p a:hover{
    color: #8ABEB2;
}
.contact .icon{
    font-size: 35px;
}
.contact .download{
    font-size: 40px;
    
}
.contact .download a{
    color: #00A4CD;
    text-decoration: none;
}
.contact .download a:hover{
    color: #006CA5;
    text-decoration: underline;
}